#main {
	margin: 30px;
}

.card-block .card-date {
	position: absolute;
	right: 15px;
	top: 10px;

	font-style: italic;
	color: #636c72;
}

.card-block .card-author {
	margin-bottom: 0;
	font-style: italic;
    color: #636c72;
}
